<mat-card appearance="outlined">
    <mat-card-content>

        <mat-form-field class="formfield" appearance="outline">
            <mat-label>Device Type</mat-label>
            <mat-select>
              <mat-option value="option">Option</mat-option>
            </mat-select>
        </mat-form-field>
          <mat-form-field class="formfield" appearance="outline">
            <mat-label>Device Type</mat-label>
            <input matInput placeholder="Placeholder">
        
          </mat-form-field>


          <mat-form-field class="formfield" appearance="outline">
            <mat-label>Device Type</mat-label>
            <input matInput placeholder="Placeholder">
        
          </mat-form-field>

          <mat-form-field class="formfield" appearance="outline">
            <mat-label>Device Type</mat-label>
            <input matInput placeholder="Placeholder">
        
          </mat-form-field>
          <mat-form-field class="formfield" appearance="outline">
            <mat-label>Device Type</mat-label>
            <input matInput placeholder="Placeholder">
        
          </mat-form-field>

    </mat-card-content>
  </mat-card>
  