<mat-card appearance="outlined">
    <mat-card-content>
  
      <div class="container">
  
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Placeholder" (keyup)="applyFilter($event)">
          <mat-icon matSuffix>search</mat-icon>
      
      
        </mat-form-field>
        <span class="pflex"></span>
        <button mat-raised-button (click)="openDialog()" style="margin-left: 20px; margin-bottom: 30px;margin-right: 20PX;background-color: red;color: white;">Issue</button>
        <button mat-raised-button (click)="recived()" style="margin-left: 20px; margin-bottom: 30px;margin-right: 20PX;background-color: blue;color: white;">Recieved</button>
       </div>
    </mat-card-content>
  </mat-card>

  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th class="theading" mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="deviceType">
          <th mat-header-cell *matHeaderCellDef> Device Type </th>
          <td mat-cell *matCellDef="let element"> {{element.deviceType}} </td>
        </ng-container>
    
          <!-- Name Column -->
          <ng-container matColumnDef="brandName">
            <th mat-header-cell *matHeaderCellDef> Brand </th>
            <td mat-cell *matCellDef="let element"> {{element.brandName}} </td>
          </ng-container>
    
         <!-- Name Column -->
         <ng-container matColumnDef="modelName">
          <th mat-header-cell *matHeaderCellDef> Model </th>
          <td mat-cell *matCellDef="let element"> {{element.modelName}} </td>
        </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="invoiceno">
            <th mat-header-cell *matHeaderCellDef> Invoice no </th>
            <td mat-cell *matCellDef="let element"> {{element.invoiceno}} </td>
          </ng-container>
    
  
          <ng-container matColumnDef="serialNumber">
            <th mat-header-cell *matHeaderCellDef> Serial Number </th>
            <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="assetsreciveddate">
            <th mat-header-cell *matHeaderCellDef> Assets Recived </th>
            <td mat-cell *matCellDef="let element"> {{element.assetsreciveddate}} </td>
          </ng-container>
  
          <ng-container matColumnDef="specification">
            <th mat-header-cell *matHeaderCellDef> Specification </th>
            <td mat-cell *matCellDef="let element"> {{element.specification}} </td>
          </ng-container>
          <ng-container matColumnDef="warrantydate">
            <th mat-header-cell *matHeaderCellDef> Warranty Date </th>
            <td mat-cell *matCellDef="let element"> {{element.warrantydate}} </td>
          </ng-container>
  
          <ng-container matColumnDef="imeino1">
            <th mat-header-cell *matHeaderCellDef> Imeino1 </th>
            <td mat-cell *matCellDef="let element"> {{element.imeino1}} </td>
          </ng-container>
          <ng-container matColumnDef="imeino2">
            <th mat-header-cell *matHeaderCellDef> Imeino2 </th>
            <td mat-cell *matCellDef="let element"> {{element.imeino2}} </td>
          </ng-container>
          <ng-container matColumnDef="assetTag">
            <th mat-header-cell *matHeaderCellDef> AssetTag </th>
            <td mat-cell *matCellDef="let element"> {{element.assetTag}} </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
    
