<mat-dialog-content>
    <mat-card appearance="outlined">
        <mat-card-content>
          <h2>Assets Received</h2>
          </mat-card-content>
          </mat-card>
      <mat-card appearance="outlined">
          <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Assets Serial No</mat-label>
                <input type="text" matInput [(ngModel)]="recformdata.serialnumber">
              </mat-form-field>
            
                <mat-form-field class="formfield" appearance="outline">
                  <mat-label>Reciever Name</mat-label>
                  <input matInput placeholder="Placeholder" [(ngModel)]="recformdata.receivername">
                </mat-form-field>
                <mat-form-field class="formfield" appearance="outline">
                  <mat-label>Receiver Date</mat-label>
                  <input type="date" matInput placeholder="Placeholder"  [(ngModel)]="recformdata.receiveddate" >
                </mat-form-field>
                <mat-form-field class="formfield" appearance="outline">
                  <mat-label>Reciever Name</mat-label>
                  <textarea matInput placeholder="Placeholder" [(ngModel)]="recformdata.remark"></textarea>
                </mat-form-field>
              
                <button mat-flat-button style="background-color: blue; color: white;" mat-dialog-close (click)="formclick()">Submit</button>
          </mat-card-content>
        </mat-card>
        


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>
